name : CI

on: [push, pull_request]

jobs:
    test:
        runs-on: ubuntu-latest

        env:
            BOT_TOKEN: ${{ secrets.BOT_TOKEN }}

        steps:
            - uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.13.5'

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
