name: Deploy to VPS

on: [push, pull_request]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            mkdir -p ~/vchallenge
            cd ~/vchallenge

            git clone git@github.com:stoledcat/vchallengebot.git . || git pull origin main


            docker build -t vchallenge .
            docker stop vchallenge || true
            docker rm vchallenge || true
            docker run -d --name vchallenge --restart=always -p 8000:8000  \
            -e BOT_TOKEN=${{ secrets.BOT_TOKEN }} \
            vchallenge
