name : Deploy to VPS

on: [push, pull_request]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Deploy to VPS
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.VPS_HOST }}
                  username: ${{ secrets.VPS_USER }}
                  key: ${{ secrets.VPS_SSH_KEY }}
                  script: |
                    cd /app
                    docker build -t vplankebot .
                    docker stop vplankebot || true
                    docker rm vplankebot || true
                    docker run -d --name vplankebot --restart=always vplankebot
