name: Deploy to VPS

on: [push, pull_request]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |

            cd ~/vchallenge || mkdir -p ~/vchallenge && cd ~/vchallenge


            if [ ! -d ".git" ]; then
              rm -rf ./*
              git clone https://github.com/stoledcat/vchallengebot.git .
            else
              git pull origin main
            fi

            docker build -t vchallenge .
            docker stop vchallenge || true
            docker rm vchallenge || true
            docker run -d --name vchallenge --restart=always -p 8000:8000 vchallenge [file:13]
